* {margin: 0; padding: 0; list-style: none;}
html {
  scroll-behavior: smooth;
}
nav{
    width: 100%; height: 50px;
    background-color: black;
}
#lnb.fixed{position: fixed; z-index: 50; left: 0; top: 0; width: 100%;}
#lnb ul{font-size:0; line-height: 10px; background-color:rgb(50, 42, 104); height: 50px;}
#lnb li{ color:white; display: inline-block; vertical-align: top; width: 25%; padding: 20px 0; font-size: 25px; text-align: center;}
#lnb a {color: white;text-decoration: none;}
#lnb a:link { color: white; }
#lnb a:visited { color: white; }
header {
    width: 100%; height: 1400px;
    background-color: black;
    
}

#background_video {
    position: absolute;
    
    top: 50px; left: 50%;
    transform: translate(-50%,0);

    object-fit: cover;
    height: 800px; width: 100%;
}

#video_cover {
    position: absolute;

    width: 100%; height: 500px;

    background: url('img/Made0000.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}
#head {
    z-index: 2;
    position: absolute;
    display: inline-block;
    text-align: center;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
  }
#head h1 {
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'proxima-nova-condensed', Helvetica;
    color: #fff;
    font-size: 35px;
  }

  #head .sub_head {
    color: rgba(255,255,255,0.5);
    font-size: 18px;
  }

  #head .info {
    color: rgba(255,255,255,0.5);
    font-size: 12px;
    margin-top: 10px;
  }
.introduce{
    position: relative;
    top: 800px;
    width: 100%; height: 600px;
    background-color: mediumpurple;
}
.swiper-container {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: mediumpurple;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
.id-img{
    width: 330px; height: 330px;
    border-radius: 400px;
    position: relative;
    background-color: #cccccc;
    left: 0%;
    background-image: url('../img/20190509_123718.jpg');
    background-size: 250px,auto;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 25px;
  }
section {
    width: 100%; height: 2500px;
    text-align: center;
    background-color: rgb(112, 100, 194);
    overflow: hidden;
}

.portpolio {
    width: 550px; height: 350px;
    position: relative; 
    transform: translate(-50%,0);
}

.portpolio:nth-child(1) {left: 25%; top: 250px;}
.portpolio:nth-child(2) {left: 75%; top: -100px;}
.portpolio:nth-child(3) {left: 25%; top: 150px;}
.portpolio:nth-child(4) {left: 75%; top: -50px;}
.portpolio:nth-child(5) {left: 25%; top: 400px;}
.portpolio:nth-child(6) {left: 75%; top: -100px;}
.portpolio:nth-child(7) {left: 25%; top: 350px;}
.portpolio:nth-child(8) {left: 75%; top: 150px;}

.portpolio-img {
    width: 650px; height: 450px;
    border: 10px inset black;  
    overflow: hidden; 
}
.portpolio-text {
    width: 550px; height: 300px;
    text-align: left;    
}
.portpolio a {
  text-decoration: none;
}
.portpolio a:hover {
  text-decoration: underline;
}
.portpolio a:link {
  color: lightgray;
}
.portpolio a:visited{
  color:  lightgray;
}
footer {
    width: 100%; height: 500px;
    background-color: rgb(6, 6, 51);
    color: #fff;
}
.footer-content {
  position: relative;
  top:20%; left: 65%;
  width: 500px;
}
.footer-content ul {
  margin-top: 30px;
  line-height: 30px;
}
